<footer class="footer mt-auto text-center">
  <div class="container">
    <p class="text-muted">
      <br>
      <br>
      ©2020 Bhushan IT Solutions Inc.
      <br>
      <br>
      <img src="/assets/ambulance.png" width="75" />
      <br>
      <br>
    </p>
  </div>
</footer>
