<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="/assets/favicon.png" />&nbsp;&nbsp;&nbsp;&nbsp;Ambulance Management System</a>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/registration">RegisterNow</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron text-center">
  <div class="cars1"></div>
  <h1><img src="/assets/ambulance.png" class="hero-image" /></h1>
  <h2 class="title">Enter Login Credentials:)</h2>
  
  <div class="row text-center">
    <div class="col-lg-10 offset-lg-1 col-md-6 text-center">
      <div class="lead">
        <form (ngSubmit)="getData($event)" class="form-group form-group-lg"
          novalidate>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter MobileNo" name="mobileno" id="mobileno" [(ngModel)]="mobileno">
           &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;
            <input type="text" class="form-control" placeholder="Enter Password" name="password" id="password" [(ngModel)]="password">
          </div>
       
          <br>
          <div class="input-group input-group-lg">
           
            <button 
              class="btn btn-success form-control col-lg-5 col-md-5 col-sm-12">Login</button>
              <br>
         
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
