<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="/assets/favicon.png" /></a>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">USER:-6376057713</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron text-center" >
  <div class="cars1"></div>
  <h1><img src="/assets/ambulance.png" class="hero-image" /></h1>
  <h2 class="title">Enter Patient Details:)</h2>
  
  <div class="row text-center">
    <div class="col-lg-10 offset-lg-1 col-md-12 text-center">
      <div class="lead">
        <form (ngSubmit)="registerData($event)" class="form-group form-group-lg"
          novalidate>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter Patient_Name" name="name" id="patientName" [(ngModel)]="name">
            <input type="text" class="form-control" placeholder="Enter Address" name="address" id="address" [(ngModel)]="address">
            <input type="text" class="form-control" placeholder="Enter Email_Id" name="emailid" id="emailid" [(ngModel)]="emailid">
        
          </div>
       
          <br>
          <div class="input-group input-group-lg">
           
            <button 
              class="btn btn-success form-control col-lg-5 col-md-5 col-sm-12">RegisterPatient</button>
              <br>
         
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
